<app-tab-content
    titulo="Artistas"
    subtitulo="Administra artistas en el sistema"
    breadcrumbItem="Panel"
>
    @if (cargando()) {
        <ui-spinner size="medium" align="start"></ui-spinner>
    } @else {
        <!-- TAB ACTIONS -->
        <div class="tab-actions">
            <button class="btn-primary" (click)="crearArtista()">
                <i class="fas fa-plus-circle"></i> Nuevo artista
            </button>
            <button class="btn-outline"><i class="fas fa-download"></i> Exportar</button>
        </div>

        <ui-stats-artistas 
            [artistas]="artistas()"
        />
        <ui-filtros-artistas />

        <div class="content-split">
            <ui-grid-tarjetas-artistas 
                [artistas]="artistas()"
                (ver)="verArtista($event)"
                (editar)="editarArtista($event)"
                (eliminar)="eliminarArtista($event)"
            />
            <ui-panel-analitico-artistas 
                [artistas]="artistas()"
            />
        </div>

        <ui-paginacion-artistas />

        <!-- FOOTER -->
        <div class="footer">
            <span><i class="fas fa-database"></i> &nbsp;<span>{{total()}}</span> artistas registrados</span>
            <span>© 2026 Eventos Elite (EE) · v3.0</span>
        </div>
    }

    <ui-modal-artistas
        [isOpen]="modalAbierto"
        [mode]="modalTipo"
        [artista]="sedeSeleccionado"
        (close)="onCerrarModal()"
        (save)="onGuardarArtista($event)"
        (edit)="onActualizarArtista($event)"
        (delete)="onEliminarArtista($event)"
        (yesDelete)="onSiEliminarArtista($event)"
    />
</app-tab-content>