<app-top-header></app-top-header>

<div class="main-layout">

    <app-nav-vertical
        (onChangeTab)="handleTabActive($event)"
    ></app-nav-vertical>

    <div class="content">
        @if (tabActive() == tabs.TabDashboard) {
            <app-tab-dashboard></app-tab-dashboard>
        }
        @else if(tabActive() == tabs.TabOrganizadores){
            <app-tab-organizadores></app-tab-organizadores>
        }
        @else if (tabActive() == tabs.TabEventos) {
            <app-tab-eventos></app-tab-eventos>
        } @else {
            <app-tab-predeterminado></app-tab-predeterminado>
        }
    </div>

</div>