<app-tab-content
    titulo="Actividades"
    subtitulo="Administra todos las actividades"
    breadcrumbItem="Panel"
>
    @if (cargando()) {
        <ui-spinner />
    } @else {
        <ui-stats-actividades />
        <ui-filtros-actividades />
        <ui-grid-tarjetas-actividades />
        <ui-paginacion-actividades />

        <!-- FOOTER -->
        <div class="footer">
            <span><i class="fas fa-database"></i> &nbsp;<span>{{total()}}</span> actividades registradas</span>
            <span>© 2026 Eventos Elite (EE) · v3.0</span>
        </div>
    }
</app-tab-content>