<app-tab-content
    titulo="Actividades"
    subtitulo="Administra todos las actividades"
    breadcrumbItem="Panel"
>
    @if (cargando()) {
        <ui-spinner />
    } @else {
        <ui-stats-actividades />
        <ui-filtros-actividades />
        <div class="split-view">
            <ui-listas-actividades />
            <ui-detalle-panel-actividades />
        </div>
        
        <ui-footer-layout 
            modelo="actividades" 
            [total]="total()" 
        />
    }
</app-tab-content>