<app-tab-content titulo="Gestión de Eventos" subtitulo="Administra todos los eventos del sistema">
    <div breadcrumb #breadcrumb>
        <!-- PAGE HEADER -->
        <div class="actions">
            <button class="btn-outline"><i class="fas fa-download"></i> Exportar</button>
            <button class="btn-primary">
                <i class="fas fa-plus-circle"></i> Nuevo evento
            </button>
        </div>
    </div>

    @if (cargando()) {
        <lib-spinner size="medium" align="start"></lib-spinner>
    } @else {
    <!-- STATS -->
    <div class="stats-panel">
        <lib-stat-grid 
            titulo="Total eventos" 
            [valor]="eventos().length" 
            subtitulo="+12 este mes"
            colorIcon="purple"
            faIcon="fa-calendar-alt" />
        <lib-stat-grid 
            titulo="Boletos vendidos" 
            [valor]="'$'+bolentosVendidos()" 
            colorIcon="pink"
            faIcon="fas fa-ticket-alt" />
        <lib-stat-grid 
            titulo="Presupuesto total" 
            [valor]="'$'+presupuestoTotal()" 
            colorIcon="blue"
            faIcon="fas fa-microphone" />
        <lib-stat-grid 
            titulo="Presupuesto total" 
            [valor]="'$'+presupuestoEjercido()" 
            subtitulo="Presupuesto ejercido"
            colorIcon="green"
            faIcon="fa-ticket-alt" />
    </div>

    <!-- FILTER BAR -->
    <div class="filter-bar">
        <div class="filter-group">
            <i class="fas fa-filter"></i>
            <select>
                <option>Todos los eventos</option>
                <option>En preparación</option>
                <option>Activos</option>
                <option>Finalizados</option>
            </select>
        </div>
        <div class="filter-group">
            <i class="fas fa-tag"></i>
            <select>
                <option>Todas las categorías</option>
                <option>Cultural</option>
                <option>Musical</option>
                <option>Deportivo</option>
            </select>
        </div>
        <div class="filter-group">
            <i class="fas fa-video"></i>
            <select>
                <option>Todas las modalidades</option>
                <option>Presencial</option>
                <option>Virtual</option>
                <option>Híbrido</option>
            </select>
        </div>
        <div class="view-toggle">
            <button class="active"><i class="fas fa-th"></i></button>
            <button><i class="fas fa-list"></i></button>
        </div>
    </div>

    <!-- EVENTS GRID -->
    <ng-container *ngIf="cargando(); else mostrarEventos">
        <lib-spinner></lib-spinner>
    </ng-container>
    <ng-template #mostrarEventos>
        <div class="events-grid">
            @for (evento of eventos(); track $index) {
                <lib-event-card 
                [evento]="evento"
                (onVerEvento)="onVerEvento($event)"
                (onEditarEvento)="onEditarEvento($event)"
                ></lib-event-card>
            }
        </div>
    </ng-template>
    }

    <lib-modal-event
        [isOpen]="modalAbierto"
        [mode]="modalTipo"
        [event]="eventoSeleccionado"
        [title]="modalTitulo"
        (close)="onCerrarModal()"
        (save)="onGuardarEvento($event)"
        (edit)="onActualizarEvento($event)"
    ></lib-modal-event>
</app-tab-content>