<div class="content">

    <!-- PAGE HEADER -->
    <div class="page-header">
        <div>
            <h1>{{titulo}}<small>{{subtitulo}}</small></h1>
        </div>
        
        <ng-container *ngIf="hasBreadcrumb; else defaultBreadcrumb">
            <ng-content select="[breadcrumb]"></ng-content>
        </ng-container>
        
        <ng-template #defaultBreadcrumb>
            <div class="breadcrumb">
                <i class="fas fa-home"></i> {{titulo}} @if(breadcrumbItem.trim().length > 0 ) { / <span>{{breadcrumbItem}}</span> }
            </div>
        </ng-template>
    </div>

    <ng-content></ng-content>
</div>