<!-- NAVEGACIÓN VERTICAL -->
<nav class="nav-vertical">
    <div [attr.class]="isActive(tabs.TabDashboard)"  
        (click)="changeTab(tabs.TabDashboard)">
        <i class="fas fa-th-large"></i> Dashboard
    </div>
    <div [attr.class]="isActive(tabs.TabEventos)"  
        (click)="changeTab(tabs.TabEventos)">
        <i class="fas fa-calendar-check"></i> Eventos
        <span class="badge">12</span>
    </div>
    <div [attr.class]="isActive(tabs.TabSedes)" 
        (click)="changeTab(tabs.TabSedes)">
        <i class="fas fa-map-pin"></i> Sedes
    </div>
    <div [attr.class]="isActive(tabs.TabArtistas)" 
        (click)="changeTab(tabs.TabArtistas)">
        <i class="fas fa-microphone-alt"></i> Artistas
        <span class="badge rosa">78</span>
    </div>
    <div [attr.class]="isActive(tabs.TabActividades)" 
        (click)="changeTab(tabs.TabActividades)">
        <i class="fas fa-tasks"></i> Actividades
    </div>
    <div class="nav-item">
        <i class="fas fa-ticket-alt"></i> Ventas
        <span class="badge azul">876</span>
    </div>
    <div class="nav-item">
        <i class="fas fa-handshake"></i> Proveedores
    </div>
    <div class="nav-item">
        <i class="fas fa-star"></i> Patrocinadores
        <span class="badge">4</span>
    </div>
    <div class="nav-item">
        <i class="fas fa-coins"></i> Gastos
    </div>
    <div class="nav-item">
        <i class="fas fa-users"></i> Staff
    </div>
    <div class="nav-item">
        <i class="fas fa-exclamation-triangle"></i> Incidencias
        <span class="badge rosa">2</span>
    </div>
    <div class="divider"></div>
    <div class="nav-item">
        <i class="fas fa-cog"></i> Configuración
    </div>
</nav>